@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import '../../../node_modules/normalize.css/normalize.css';
@import 'variables';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Cardo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: black;
}

* {
  box-sizing: border-box;
  outline: none;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

:focus {
  -webkit-tap-highlight-color: transparent;
}

.p-r {
  position: relative;
}

.splash {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 3s ease 1s;

  &.starting {
    opacity: 0;
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 100%;
  }

  h1 {
    margin: 0;
    font-size: 4em;
    letter-spacing: 2px;
    color: #dc1657;
    opacity: 0;
    animation: bounce 8s forwards ease-out;

    &.visible {
      opacity: 1;
    }
  }

  button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: #dc1657;
    padding: .5em 1em;
    font-size: 3em;
    letter-spacing: .1em;
    font-weight: 800;
    color: rgba(black, .8);
    opacity: 0;
    pointer-events: none;
    transition: 1s ease;

    &.visible {
      opacity: 1;
      pointer-events: all;
      transition: 4s ease;
    }
  }

  @keyframes bounce {
    0% { transform: scale(1); color: #dc1657; opacity: 1; }
    33% { transform: scale(.8); color: #dc1657; opacity: 1; }
    66% { transform: scale(1.5); color: #5c1536; opacity: 0; }
    100% { transform: scale(1.5); color: #5c1536; opacity: 0; }
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    66% { opacity: 1; }
    100% { opacity: 0; }
  }
}

.buk {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scene {
  position: relative;
  display: block;
  margin: 0 auto;
  width: calc(200 * var(--vh));
  height: calc(100 * var(--vh));
  background: white;

  &.with-anim {

    animation: scene 6s forwards;

    .kopec1 {
      animation: kopec 5s forwards;
    }
    .kopec2 {
      animation: kopec2 5s forwards;
    }

    .ovce1 {
      animation: breathe 3s infinite 4s;
    }

    .ovce2 {
      animation: breathe 3.3s infinite 4.5s;
    }

    .sova {
      animation: breathe 3s infinite 4.2s;
    }

    .netopyr {
      animation: breathe 3s infinite 4.3s;
    }

    .vlk {
      animation: breathe 3s infinite 4.2s;
    }

    .vlk2 {
      animation: breathe 3s infinite 4.1s;
    }

    .hradec {
      animation: hradec 5.5s forwards;
    }

    .karkulka {
      //animation: karkulkaZpet 5s linear alternate forwards;
      //animation-play-state: paused;

      &.na-kopci {
        //animation: karkulka 5s linear alternate;
        //animation-direction: normal;
        //animation-
        //animation: karkulka 5s linear forwards;
        //animation-play-state: running;
      }
    }

    @keyframes scene {
      0% { transform: translateY(-5%) }
      100% { transform: translateY(0) scale(1.02) }
    }
    @keyframes breathe {
      0% { transform: scale(1); }
      50% { transform: scale(1.025); }
      100% { transform: scale(1); }
    }
    @keyframes kopec {
      0% { transform: translateY(35%) }
      100% { transform: translateY(0) }
    }
    @keyframes kopec2 {
      0% { transform: translateY(80%) }
      100% { transform: translateY(0) }
    }
    @keyframes hradec {
      0% { transform: translateY(100%) }
      100% { transform: translateY(0) }
    }
    @keyframes karkulka {
      0% { transform: translate(0) rotate(-4deg) }
      20% { transform: translate(220%, -130%); opacity: 1; }
      25% { opacity: 0 }
      30% { transform: translate(280%, -90%) scale(.8); }
      50% { transform: translate(520%, -40%) scale(.8); opacity: 0; }
      60% { opacity: 1}
      100% { transform: translate(1000%, -250%) scale(.8)}
    }
    @keyframes karkulkaZpet {
      0% { transform: translate(1000%, -250%) scale(.8)}
      40% { opacity: 1}
      50% { transform: translate(520%, -40%) scale(.8); opacity: 0; }
      70% { transform: translate(280%, -90%) scale(.8); }
      75% { opacity: 0 }
      80% { transform: translate(220%, -130%); opacity: 1; }
      100% { transform: translate(0) rotate(-4deg) }
    }
    @keyframes walk {
      0% { transform: rotate(-4deg); }
      50% { transform: rotate(2deg); }
      100% { transform: rotate(-4deg); }
    }

  }

  img {
    display: block;
    width: 100%;
  }

  .anim {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .obj {
    position: absolute;
  }

  .obj {
    pointer-events: all;
  }

  .anim, .bg, .fg, .kopec1, .kopec2 {
    pointer-events: none !important;
  }

  .bg {
    top: 0;
    left: 0;
    width: 100%;

    &.uplnek:after, &.uplnek:before {
      opacity: 0;
    }

    &:after, &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: black;
      transition: 1s ease;
    }

    &:after {
      opacity: .5;
    }

    &:before {
      opacity: .4;
      z-index: 99;
    }
  }

  .fg {
    top: 0;
    left: 0;
    width: 100%;
  }

  .mesic {
    width: 6.157635%;
    height: 12.315271%;
    top: 13.5%;
    left: 36.33%;
    border-radius: 50%;
    cursor: pointer;
    //background: black;
    //opacity: 1;

    &.uplnek {
      //opacity: 0;
    }
  }

  .kopec1 {
    width: w(4181);
    height: h(1995);
    left: 0;
    top: 26%;
  }

  .kopec2 {
    width: w(2371);
    height: h(951);
    left: 40.9%;
    top: 40.3%;
  }

  .ovce1 {
    width: w(1125);
    height: h(1180);
    top: 60%;
    left: 16%;
    transform-origin: 50% 100%;
  }

  .ovce2 {
    width: w(922);
    height: h(912);
    top: 46%;
    left: 5%;
    transform-origin: 50% 100%;
  }

  .sova {
    width: w(561);
    height: h(449);
    top: 64.7%;
    left: 54.3%;
    transform-origin: 50% 100%;
  }

  .netopyr {
    width: w(330);
    height: h(639);
    top: 9%;
    left: 58.5%;
    transform-origin: 50% 0;
  }

  .vlk {
    width: w(1296);
    height: h(1300);
    top: 34.5%;
    left: 67%;
    transform-origin: 50% 100%;
  }

  .vlk2 {
    width: w(361);
    height: h(486);
    top: 28.5%;
    left: 6.5%;
    transform-origin: 50% 100%;
  }

  .hradec {
    width: w(685);
    height: h(895);
    left: 23%;
    top: 15.4%;
  }

  .karkulka {
    width: w(105);
    height: h(172);
    left: 36%;
    top: 50.4%;
    transform-origin: 50% 100%;
    cursor: pointer;
  }

  .hrib1 {
    width: w(335);
    height: h(370);
    left: 41%;
    top: 67.4%;
  }

  .hrib2 {
    width: w(231);
    height: h(209);
    left: 46%;
    top: 71.4%;
  }

  .o1 {
    width: w(169);
    height: h(139);
    left: 20%;
    top: 38%;
  }

  .o2 {
    width: w(167);
    height: h(140);
    left: 21%;
    top: 46.4%;
  }

  .o3 {
    width: w(211);
    height: h(154);
    left: 25%;
    top: 43.4%;
  }

  .o4 {
    width: w(171);
    height: h(140);
    left: 26%;
    top: 51%;
  }

  .o5 {
    width: w(170);
    height: h(154);
    left: 29%;
    top: 42.4%;
  }

  .o6 {
    width: w(176);
    height: h(171);
    left: 31%;
    top: 47.4%;
  }

  .o7 {
    width: w(180);
    height: h(206);
    left: 31%;
    top: 59%;
  }

  .o8 {
    width: w(181);
    height: h(153);
    left: 33%;
    top: 55%;
  }

  .o9 {
    width: w(131);
    height: h(238);
    left: 35.6%;
    top: 61.4%;
  }

  .o10 {
    width: w(204);
    height: h(193);
    left: 35.6%;
    top: 57%;
  }

  .o11 {
    width: w(171);
    height: h(165);
    left: 41%;
    top: 52.4%;
  }

  .o12 {
    width: w(164);
    height: h(158);
    left: 41%;
    top: 52.4%;
  }

  .m1 {
    width: w(81);
    height: h(78);
    left: 52.5%;
    top: 44%;
  }

  .m2 {
    width: w(78);
    height: h(87);
    left: 52%;
    top: 48.4%;
  }

  .m3 {
    width: w(85);
    height: h(88);
    left: 54%;
    top: 48.4%;
  }

  .m4 {
    width: w(80);
    height: h(84);
    left: 54%;
    top: 52%;
  }

  .m5 {
    width: w(106);
    height: h(79);
    left: 56.4%;
    top: 49%;
  }

  .m6 {
    width: w(103);
    height: h(80);
    left: 56.5%;
    top: 53.4%;
  }

  .m7 {
    width: w(95);
    height: h(75);
    left: 58.5%;
    top: 47%;
  }

  .m8 {
    width: w(87);
    height: h(70);
    left: 59%;
    top: 50%;
  }

  .m9 {
    width: w(90);
    height: h(72);
    left: 60.6%;
    top: 48.4%;
  }

  .m10 {
    width: w(97);
    height: h(74);
    left: 60.6%;
    top: 53%;
  }

  .m11 {
    width: w(82);
    height: h(76);
    left: 60.6%;
    top: 53%;
  }

}
