@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import '../../../node_modules/normalize.css/normalize.css';
@import 'variables';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Cardo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: black;
}

* {
  box-sizing: border-box;
  outline: none;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

:focus {
  -webkit-tap-highlight-color: transparent;
}

.p-r {
  position: relative;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  background: black;
  animation: fadeOut 8s forwards ease-out;

  h1 {
    font-size: 4em;
    letter-spacing: 2px;
    color: #dc1657;
    animation: bounce 8s forwards ease-out;
  }

  @keyframes bounce {
    0% { transform: scale(1); color: #5c1536; opacity: 1; }
    33% { transform: scale(.8); color: #5c1536; opacity: 1; }
    66% { transform: scale(1.5); color: #dc1657; opacity: 0; }
    100% { transform: scale(1.5); color: #dc1657; opacity: 0; }
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    66% { opacity: 1; }
    100% { opacity: 0; }
  }
}

.buk {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scene {
  position: relative;
  display: block;
  margin: 0 auto;
  width: calc(200 * var(--vh));
  height: calc(100 * var(--vh));
  background: white;
  animation: scene 6s forwards 4s;
  //transform: scale(1.05);

  @keyframes scene {
    0% { transform: translateY(-20%) }
    100% { transform: translateY(0) }
  }

  img {
    display: block;
    width: 100%;
  }

  .anim {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .obj {
    position: absolute;
  }

  .obj {
    pointer-events: all;
  }

  .anim, .bg, .fg, .kopec1, .kopec2 {
    pointer-events: none !important;
  }

  .bg {
    top: 0;
    left: 0;
    width: 100%;

    &.uplnek:after, &.uplnek:before {
      opacity: 0;
    }

    &:after, &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: black;
      transition: 1s ease;
    }

    &:after {
      opacity: .5;
    }

    &:before {
      opacity: .4;
      z-index: 99;
    }
  }

  .fg {
    top: 0;
    left: 0;
    width: 100%;
  }

  .mesic {
    width: 6.157635%;
    height: 12.315271%;
    top: 13.5%;
    left: 36.33%;
    border-radius: 50%;
    cursor: pointer;
    //background: black;
    //opacity: 1;

    &.uplnek {
      //opacity: 0;
    }
  }

  .kopec1 {
    width: 64.362685%;
    height: 61.422414%;
    left: 0;
    top: 26%;
    animation: kopec 5s forwards 4s;

    @keyframes kopec {
      0% { transform: translateY(70%) }
      100% { transform: translateY(0) }
    }
  }

  .kopec2 {
    width: 36.499384%;
    height: 10.5152%;
    left: 41%;
    top: 40%;
    animation: kopec2 5s forwards 4s;

    @keyframes kopec2 {
      0% { transform: translateY(500%) }
      100% { transform: translateY(0) }
    }
  }

  .ovce1 {
    width: 17.31835%;
    height: 36.330049%;
    top: 60%;
    left: 16%;
    animation: breathe 3s infinite 8s;
    transform-origin: 50% 100%;
  }

  .ovce2 {
    width: 14.19335%;
    height: 28.078818%;
    top: 46%;
    left: 5%;
    animation: breathe 3.3s infinite 8.5s;
    transform-origin: 50% 100%;
  }

  .sova {
    width: 8.636084%;
    height: 13.823892%;
    top: 64.7%;
    left: 54.3%;
    animation: breathe 3s infinite 8.2s;
    transform-origin: 50% 100%;
  }

  .netopyr {
    width: 5.080049%;
    height: 19.673645%;
    top: 9%;
    left: 58.5%;
    animation: breathe 3s infinite;
    transform-origin: 50% 0;
  }

  .vlk {
    width: 19.950739%;
    height: 40.024631%;
    top: 34.5%;
    left: 67%;
    animation: breathe 3s infinite 8.2s;
    transform-origin: 50% 100%;
  }

  .vlk2 {
    width: 5.557266%;
    height: 14.963054%;
    top: 28.5%;
    left: 6.5%;
    animation: breathe 3s infinite 8s;
    transform-origin: 50% 100%;
  }

  .hradec {
    width: 10.544951%;
    height: 27.555419%;
    left: 23%;
    top: 15.4%;
    animation: hradec 5.5s forwards 4s;

    @keyframes hradec {
      0% { transform: translateY(200%) }
      100% { transform: translateY(0) }
    }
  }

  .karkulka {
    width: 1.616379%;
    height: 5.295567%;
    left: 36%;
    top: 50.4%;
    transform-origin: 50% 100%;
    animation: karkulkaZpet 5s linear forwards;
    cursor: pointer;

    &.na-kopci {
      animation: karkulka 5s linear forwards;
    }

    @keyframes karkulka {
      0% { transform: translate(0) rotate(-4deg) }
      20% { transform: translate(220%, -130%); opacity: 1; }
      25% { opacity: 0 }
      30% { transform: translate(280%, -90%) scale(.8); }
      50% { transform: translate(520%, -40%) scale(.8); opacity: 0; }
      60% { opacity: 1}
      100% { transform: translate(1100%, -220%) scale(.8)}
    }
    @keyframes karkulkaZpet {
      0% { transform: translate(1100%, -220%) scale(.8)}
      40% { opacity: 1}
      50% { transform: translate(520%, -40%) scale(.8); opacity: 0; }
      70% { transform: translate(280%, -90%) scale(.8); }
      75% { opacity: 0 }
      80% { transform: translate(220%, -130%); opacity: 1; }
      100% { transform: translate(0) rotate(-4deg) }
    }

    @keyframes walk {
      0% { transform: rotate(-4deg); }
      50% { transform: rotate(2deg); }
      100% { transform: rotate(-4deg); }
    }
  }

  .hrib1 {
    width: 5.15702%;
    height: 11.391626%;
    left: 41%;
    top: 67.4%;
  }

  .hrib2 {
    width: 3.55713%;
    height: 6.434729%;
    left: 46%;
    top: 71.4%;
    //max 6496 x 3248
    //231 × 209
  }

  @keyframes breathe {
    0% { transform: scale(1); }
    50% { transform: scale(1.025); }
    100% { transform: scale(1); }
  }

}
